# Unity-generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Asset Store Tools Plugin (optional)
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Build files
*.apk
*.aab
*.unitypackage
*.app

# Unity crash reports and logs
sysinfo.txt
*.crash
*.error.log

# Gradle and VS cache directories
.gradle/
.vs/

# IDE-specific files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Addressable Assets
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary Android assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Packed Addressables and Streaming Assets
/[Aa]ssets/[Ss]treamingAssets/*.bin*
/[Aa]ssets/[Ss]treamingAssets/*.meta

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.log
*.temp
*.bak
*.swp
*.dmp
*.tmp.*
